header{
    width: 100%;
    height: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.01);
            box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.01);
    border-bottom: 1px solid #eee;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header a{
    text-decoration: none;
}
header a:hover{
    cursor: pointer;
}
.navLogo{
    margin-left: 5%;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-left: 10px solid #000;
    padding-left: 10px;



}
.linkNav{
    margin-left: 5%;
}
.menu{


    margin-left: auto;
    margin-right: 4%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.menuPic {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
}

.menuPic img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: .2s;
    cursor: pointer;
}
.dropDown {
    width: 150px;
    background: #000;
    position: absolute;
    right: 1%;
    top!: 50px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;

}

.dropDown a{
    padding: 10px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;font-weight: 300;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;


}

.dropDown a:hover{
    cursor: pointer;
    border-left: 5px solid #fff;

}

.DropInOut{

    -webkit-animation: dropInNot;

            animation: dropInNot;

    -webkit-animation-duration: .2s;

            animation-duration: .2s;
    -webkit-transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);
    -o-transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);
    transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);

    margin-top: 55px;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    visibility: visible;



}