/* ::::: Phone Screens ::::: */
@media(max-width: 570px){
  body{
    background-color: brown;
  }
}

/* ::::: Tablet screens ::::: */
@media(min-width: 571px){
  body{
    background-color: yellow;
  }
}

/* ::::: Desktop Screens ::::: */
@media(min-width: 1200px){
  body{
    background-color: green;
  }
}