/*
.testContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    height: calc(100vh - 50px);
    flex-wrap: wrap;
    margin-top: 70px;
}

.practiceTest {
	width: 400px;
	height: 400px;
	background: #fff;
	margin: 2%;
	border: 1px solid #eee;
	box-shadow: 0 28px 102px -1px rgba(0,0,0,.05);
	transition: .2s;
}
.practiceTest:hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0px 28px 102px -1px rgba(0,0,0,0.08);
            box-shadow: 0px 28px 102px -1px rgba(0,0,0,0.08);

}

.bartop{
	width: 100%;
    height: 5px;
    background-image: -webkit-linear-gradient(315deg,#a445b2,#d41872 52%,#f06);
    background-image: -o-linear-gradient(315deg,#a445b2 0,#d41872 52%,#f06 100%);
    background-image: linear-gradient(-225deg,#a445b2,#d41872 52%,#f06);
    position: relative;
}

.blurbar{
	width: 100%;
    height: 5px;
    background-image: -webkit-linear-gradient(315deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    background-image: -o-linear-gradient(315deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
   */ /*      box-shadow:  0 4px 10px -2px rgba(140,27,171,0.9);*/
  /*  position: relative;
    z-index: 1;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transition: 2.2s;
    -o-transition: 2.2s;
    transition: 2.2s;

}

.testComments{
	width: 100%;
	height: 100%;
	font-family: Work Sans, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testComments h1 {
	color: grey;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 10px;
}

.testComments p {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	margin-top: 55px;
}

.btn-wrapper {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.testComments button {
	margin-top: 60px;
	width: 150px;
	height: 40px;
	background: #fff;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-family: Work San, sans-serif;
	letter-spacing: 2px;
    background-image: linear-gradient(-225deg,#a445b2,#d41872 52%,#f06);
    position: relative;
    z-index: 1;
    transition: .2s;
    outline: none;
}

.buttonshadow {
    background-image: linear-gradient(-225deg,#a445b2,#d41872 52%,#f06);
    width: 150px;
    height: 40px;
    position: relative;
    -webkit-filter: blur(25px);
    filter: blur(25px);
    margin-top: -20px;
    opacity: .3;
}

.testComments button:hover{
	cursor: pointer;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}

.testComments button:active{
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
*/