.timeClock {
	position: relative;
	width: 100%;
	height: 63px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.timeClock p{
	padding: 8px 15px;
	background-image: -webkit- linear-gradient(315deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	background-image: -o-linear-gradient(315deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	color: aliceblue;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border-radius: 5px;
	position: fixed;
	z-index: 10;

	width: 50px;
	text-align: center;
}

.timeClock span {
	width: 50px;
	height: 30px;
	background-image: -webkit- linear-gradient(315deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	background-image: -o-linear-gradient(315deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #ff0066 100%);
	color: aliceblue; 
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	border-radius: 5px;
	filter: blur(20px);
	margin-top: 20px;
	opacity: 0.3;
	z-index: 10;
	position: fixed;
}